.flex {
  display: flex;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table { width: 100%;}
tr.data-row:hover { 
  background-color: whitesmoke;
}

.list-component {
  width: 100%; 
  max-width: fit-content; 
  min-width: 500px;
  padding: 20px
}

.detail-component {
  width: 100%;
  max-width: 250px;
  padding-top: 75px;
  padding: auto;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}
